{% extends 'base.html' %}
{% block title %}
About Us
{% endblock title %}
{% block content %}
<div class="row g-0 text-center d-flex">
    <div class="col-sm-6 col-md-7">
        <div class="container">
            <div class="Thead p-3" style="top: 30%">
                Heyy There!! <br>
                Welcome to our Website <br>
                We are the <mark>Code Of Duty</mark>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <img src="static/images/pers4.png" style="height: 510px" />
    </div>


    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">
                    <img class="circimg" src="static/images/Alston.png" height="250px" , width="250px">
                    <h3>Alston Soares</h3>
                    <h5>Backend Developer</h5>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <img class="circimg" src="static/images/Alric.png" height="250px" , width="250px">
                    <h3>Alric D'Souza</h3>
                    <h5>AI ML Developer</h5>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <img class="circimg" src="static/images/Alvin.png" height="250px" , width="250px">
                    <h3>Alvin D'Souza</h3>
                    <h5>Frontend Developer</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}